body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

/* 스크롤바 */
::-webkit-scrollbar-thumb {
  background: #bcbcbc;
}

img {
  -webkit-user-drag: none; /* 이미지 잔상 없애기 */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 760px) {
  html {
    font-size: 70%;
  }
}
